.css_idaggregate__label {text-align:;}
.css_idaggregate__line {text-align:left;}
.css_idaggregate__obj {text-align:left;}
.css_idcostumer__label { }
.css_idcostumer__line {text-align:left;}
.css_idcostumer__obj {text-align:left;}
.css_kinship__label { }
.css_kinship__line { }
.css_kinship__obj { }
