.css_name_label, .css_name_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_name_grid_line, .css_name_grid_line:hover {vertical-align: top;text-align: right;}
.css_capacity_label, .css_capacity_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_capacity_grid_line, .css_capacity_grid_line:hover {vertical-align: top;text-align: right;}
.css_idlodgecategory_label, .css_idlodgecategory_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idlodgecategory_grid_line, .css_idlodgecategory_grid_line:hover {vertical-align: top;text-align: right;}
