.css_idlodgecategory_det_label, .css_idlodgecategory_det_label:hover {text-align: right;vertical-align: middle;}
.css_idlodgecategory_det_line, .css_idlodgecategory_det_line:hover {height:0px;text-align: right;}
.css_name_det_label, .css_name_det_label:hover {text-align: right;vertical-align: middle;}
.css_name_det_line, .css_name_det_line:hover {height:0px;text-align: right;}
.css_capacity_det_label, .css_capacity_det_label:hover {text-align: right;vertical-align: middle;}
.css_capacity_det_line, .css_capacity_det_line:hover {height:0px;text-align: right;}
