.css_idlodgecategory_label { }
.css_idlodgecategory_line {text-align:left;}
.css_idlodgecategory_obj {text-align:left;}
.css_name_label { }
.css_name_line { }
.css_name_obj { }
.css_capacity_label { }
.css_capacity_line {text-align:left;}
.css_capacity_obj {text-align:left;}
.css_color_label { }
.css_color_line { }
.css_color_obj { }
.css_price_label { }
.css_price_line { }
.css_price_obj { }
