.css_idlodgeprice__label { }
.css_idlodgeprice__line {text-align:left;}
.css_idlodgeprice__obj {text-align:left;}
.css_idlodgecategory__label { }
.css_idlodgecategory__line {text-align:left;}
.css_idlodgecategory__obj {text-align:left;}
.css_price__label { }
.css_price__line {text-align:left;}
.css_price__obj {text-align:left;}
.css_quantitypersons__label { }
.css_quantitypersons__line {text-align:left;}
.css_quantitypersons__obj {text-align:left;}
