.css_idlodge_label { }
.css_idlodge_line {text-align:left;}
.css_idlodge_obj {text-align:left;}
.css_idlodgecategory_label { }
.css_idlodgecategory_line {text-align:left;}
.css_idlodgecategory_obj {text-align:left;}
.css_number_label { }
.css_number_line {text-align:left;}
.css_number_obj {text-align:left;}
.css_name_label { }
.css_name_line { }
.css_name_obj { }
.css_status_label { }
.css_status_line { }
.css_status_obj { }
