.css_idcostumer_label {text-align:;}
.css_idcostumer_line {text-align:left;}
.css_idcostumer_obj {text-align:left;}
.css_docnumber_label { }
.css_docnumber_line { }
.css_docnumber_obj { }
.css_doctype_label { }
.css_doctype_line { }
.css_doctype_obj { }
.css_firstname_label { }
.css_firstname_line { }
.css_firstname_obj { }
.css_lastname_label { }
.css_lastname_line { }
.css_lastname_obj { }
.css_idlodge_label {text-align:;}
.css_idlodge_line {text-align:left;}
.css_idlodge_obj {text-align:left;}
.css_frequencytype_label { }
.css_frequencytype_line { }
.css_frequencytype_obj { }
.css_holdertype_label { }
.css_holdertype_line { }
.css_holdertype_obj { }
.css_idholder_label {text-align:;}
.css_idholder_line {text-align:left;}
.css_idholder_obj {text-align:left;}
