.css_idcostumercheck__label {text-align:;}
.css_idcostumercheck__line {text-align:left;}
.css_idcostumercheck__obj {text-align:left;}
.css_idcostumer__label { }
.css_idcostumer__line {text-align:left;}
.css_idcostumer__obj {text-align:left;}
.css_idlodge__label { }
.css_idlodge__line {text-align:left;}
.css_idlodge__obj {text-align:left;}
.css_sc_field_0__label { }
.css_sc_field_0__line { }
.css_sc_field_0__obj { }
