.css_idcostumer_label { }
.css_idcostumer_line {text-align:left;}
.css_idcostumer_obj {text-align:left;}
.css_idlodge_label { }
.css_idlodge_line {text-align:left;}
.css_idlodge_obj {text-align:left;}
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_datetime_label { }
.css_datetime_line { }
.css_datetime_obj { }
